Repository IGNF/road2, pull requests merged in 2023-01, with the labels that each got.

#13 Update of integration tests
  src/js/apis/apisManager.js
  src/js/base/baseManager.js
  src/js/geometry/line.js
  src/js/parameters/boolParameter.js
  src/js/parameters/constraintParameter.js
  src/js/parameters/enumParameter.js
  src/js/parameters/floatParameter.js
  src/js/parameters/intParameter.js
  src/js/parameters/pointParameter.js
  src/js/parameters/resourceParameter.js
  src/js/requests/isochroneRequest.js
  src/js/requests/nearestRequest.js
  src/js/requests/request.js
  src/js/requests/routeRequest.js
  src/js/server/serverManager.js
  src/js/service/serviceAdministered.js
  src/js/service/serviceProcess.js
  test/functional/readme.md
  test/integration/mocha/apis/integrationApiManager.js
  test/integration/mocha/base/integrationBaseManager.js
  test/integration/mocha/config/log4js.json
  test/integration/mocha/config/road2.json
  test/integration/mocha/config/service.json
  test/integration/mocha/geometry/integrationLine.js
  test/integration/mocha/operations/integrationOperation.js
  test/integration/mocha/operations/integrationResourceOperation.js
  test/integration/mocha/parameters/integrationBoolParameter.js
  test/integration/mocha/parameters/integrationConstraintParameter.js
  test/integration/mocha/parameters/integrationEnumParameter.js
  test/integration/mocha/parameters/integrationFloatParameter.js
  test/integration/mocha/parameters/integrationIntParameter.js
  test/integration/mocha/parameters/integrationPointParameter.js
  test/integration/mocha/parameters/integrationResourceParameter.js
  test/integration/mocha/requests/integrationIsochroneRequest.js
  test/integration/mocha/requests/integrationNearestRequest.js
  test/integration/mocha/requests/integrationRouteRequest.js
  test/integration/mocha/resources/integrationOsrmResource.js
  test/integration/mocha/resources/integrationResourceManager.js
  test/integration/mocha/resources/integrationValhallaResource.js
  test/integration/mocha/responses/integrationPortion.js
  test/integration/mocha/server/integrationServerManager.js
  test/integration/mocha/service/integrationService.js
  test/integration/mocha/service/integrationServiceProcess.js
  test/integration/mocha/sources/integrationPgrSource.js
  test/integration/mocha/sources/integrationSourceManager.js
  test/integration/mocha/sources/integrationValhallaSource.js
  test/integration/mocha/topology/integrationTopologyManager.js
  test/integration/readme.md
  test/integration/resources/topology/correctDBTopology.json
  test/integration/resources/topology/correctOSMTopology.json
  test/integration/resources/topology/incorrectDBTopology.json
  test/integration/resources/topology/incorrectOSMTopology.json
  test/unit/mocha/config/resources/corse.resource
  test/unit/mocha/config/road2.json
  test/unit/mocha/requests/testsRequest.js
  test/unit/mocha/service/testsServiceAdministered.js
  test/unit/readme.md
Labels: test

#27 feat(doc) move documentation and init sphinx build
  changelog.md
  docker/readme.md
  documentation/.gitignore
  documentation/conf.py
  documentation/configuration/readme.md
  documentation/developers/concepts.md
  documentation/developers/documentation.md
  documentation/developers/functionnalities.md
  documentation/developers/history.md
  documentation/docker/demonstration/readme.md
  documentation/docker/dev/readme.md
  documentation/docker/distributions/readme.md
  documentation/docker/readme.md
  documentation/docker/test/readme.md
  documentation/docker/web/readme.md
  documentation/index.md
  documentation/test/functional/readme.md
  documentation/test/integration/readme.md
  documentation/test/load/readme.md
  documentation/test/readme.md
  documentation/test/unit/readme.md
  readme.md
  requirements/documentation.txt
Labels: documentation, sprint1

#31 feat(ci): add documentation publish on github pages
  .github/workflows/documentation.yml
Labels: documentation, sprint1, CI

#32 doc(define_repo): define repository and use myst substitution
  documentation/conf.py
  documentation/configuration/readme.md
  documentation/developers/concepts.md
  documentation/developers/functionnalities.md
  documentation/docker/readme.md
  documentation/docker/test/readme.md
  documentation/index.md
  documentation/test/load/readme.md
Labels: documentation, sprint1

#33 [feat] creation of class serviceInsider
  changelog.md
  documentation/developers/concepts.md
  src/js/administrator/administrator.js
  src/js/service/serviceAdministered.js
  src/js/service/serviceInsider.js
  src/js/service/serviceManager.js
  src/js/service/serviceProcess.js
  test/integration/mocha/service/integrationServiceProcess.js
Labels: enhancement
